<!DOCTYPE html>
<html>

<head>
  <%- include('./components/head') %>
</head>

<body>
  <main>
    <header>
      <h1>Saved Books</h1>

    </header>
    <ul>
      <% results.forEach(book => { %>
      <li class="book-item" data-id="<%= book.id %>">
        <img class="book-image" src="<%= book.image_url %>" />
        <h4><%= book.title %></h4>
        <p><%= book.author %></p>
        <p><a href="/books/<%= book.id %>">View Details</a></p>
      </li>
      <% }) %>

    </ul>

    <p>Number of Saved Books:<%= results.length %></p>
  </main>
  <%- include('./components/footer')%>
</body>

</html>